@import "../styles/utilities.module";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", serif;
  font-size: 1.8rem;
  color: $color-bianca;
}

p {
  line-height: 2rem;
}

h1 {
  font-size: 6rem;
}

html {
  // This defines what 1rem is
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
}
